html {
  background-image: linear-gradient(to bottom right,#034b75,#dc4225);
}

.container {
  padding-top: 2%;
  padding-bottom: 20%;
  height: 100vh;
  background-image: linear-gradient(to bottom right,#034b75,#dc4225);
  display: block;
}
.tuyem {
  max-width: 980px;
  margin: 0 auto;
  height: auto;
}
.buttonConnect {
  text-align: right;
}
.aroundBotton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.module {
  margin: 0 auto;
  max-width: 570px;
  padding: 15px;
  background-color: rgb(22, 21, 34);
}

.headshot {
  flex-shrink: 0;
  border: calc(2px + 0.2vw) solid transparent;
  background-origin: border-box;
  background-size: cover;
  box-sizing: border-box;
  box-shadow: 0 0 5px 5px #80282880;
  border-radius: 2%;
}

.headshot-1 {
  background-image: var(--img-url);
  box-shadow: 0 0 5px 5px rgba(128, 40, 40, 0.5);
}

.aroundGrid {
  background-color: rgb(32, 34, 49);
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  color: #bfbfbf;
  padding: 1.25rem;
  border-radius: 8px;
}

input::placeholder {
  font-weight: bold;
  opacity: 0.5;
  font-family: "SF Pro Display";
  padding: 5px;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #dc2424 0%,
    #4a569d 51%,
    #dc2424 100%
  );
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 5px #eee;
  border-radius: 10px;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn-connect {
  background-image: linear-gradient(
    to right,
    #dc2424 0%,
    #4a569d 51%,
    #dc2424 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 5px #eee;
  border-radius: 10px;
}

.btn-connect:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.tablinks {
  padding: 0px 25px 0px 25px;
  font-family: SF Pro Display;
  font-size: 25px;
}

.radio {
  display: none;
}

.tabs {
  border-radius: 20px;
  width: 100%;
  margin-bottom: 17px;
  display: grid;
  grid-template-columns: 33.4% 33.4% 33.4%;
  padding: 5px;
}

.tablist {
  grid-template-columns: 50% 50%;
}

.tab {
  cursor: pointer;
  padding: 8px 0;
  display: inline-block;
  color: #808890;
  text-align: center;
}
.panels {
  width: 100%;
}

.panel {
  display: none;
  animation: fadein 0.8s;
}

#hotline {
  display: none;
}
.swap .active {
  background-image: linear-gradient(
    to right,
    #dc2424 0%,
    #4a569d 51%,
    #dc2424 100%
  );
  border-radius: 8px;
}
.active {
  background-image: linear-gradient(
    to right,
    #dc2424 0%,
    #4a569d 51%,
    #dc2424 100%
  );
  border-radius: 8px;
}
.img_pluss {
  position: absolute;
    top: 78px;
    left: 20px;
  width: 60px;
  display: flex;
  height: 60px;
  background-color: rgb(32, 34, 49);
  border-radius: 50%;
  border: solid 1px #000;
  align-items: center;
  justify-content: center;
}
.aroundGridLiquid {
  background-color: rgb(32, 34, 49);
  margin-bottom: 45px;
  display: flex;
  justify-content: space-between;
  color: #bfbfbf;
  padding: 1.25rem;
  border-radius: 8px;
}
.aroundGridToLiquid {
  background-color: rgb(32, 34, 49);
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  color: #bfbfbf;
  padding: 1.25rem;
  border-radius: 8px;
}
.insildeInputSelect {
  font-family: "SF Pro Display";
  color: "white";
  background-color: rgb(22, 21, 34);
  border: 1px;
  border-radius: 8px;
  max-width: 300px;
}
